{% load static %}
<div class="d-flex gap-1">
                <img src="{% static '/img/мен-лягушка.jpg' %}" alt="Avatar" class="user-logo">
                <div>
                    <div style="color: white;">
                        {{ request.user.username }}
                    </div>
                    <a class="setting-link " href="{% url 'edit' %}">Settings</a>
                    <a class="logout-link ms-2" href="{% url 'logout' %}">Log out</a>
                </div>
            </div>